/* Establece la fuente predeterminada para todo el documento */
* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
}

/* Añade espacio de relleno alrededor del cuerpo del documento */
body {
    padding: 60px;
}

/* Estiliza los campos de entrada */
input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}

/* Establece el tamaño de fuente para los encabezados h2 */
h2 {
    font-size: 1.5rem;
}

/* Establece el tamaño de fuente y el margen inferior para los encabezados h3 */
h3 {
    font-size: 3rem;
    margin-bottom: 5px;
}

/* Configuración del contenedor de tarjetas */
.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estiliza las tarjetas individuales */
.card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%; /* ¡Revisar! Esto puede ser un error */
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
}

/* Estiliza el párrafo dentro de las tarjetas */
.card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
}

/* Establece el ancho de la imagen dentro de las tarjetas al 100% */
.card img {
    width: 100%;
}
